

.container {
    margin-top: 61px;
    display: flex;
    align-items: center;
}

.image-container {
    flex: 1;
    
}

form {
    margin-top: 30px;
    flex:0.3 ;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 120px;
    height: 328px;
}

#I {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#I[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#I[type="submit"]:hover {
    background-color: #0056b3;
}

.App{
    background-color: rgb(228, 194, 194);
    
} 
